/* Reset some default styles */
body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Apply Dark Mode */
.dark-mode {
  background-color: #222;
  color: #fff;
}

/* Style the moderators list */
.mods-list {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mods-list-item {
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.mods-list-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.mod-pfp img {
  border-radius: 25px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.mod-name {
  font-size: 18px;
}

/* Add any additional styling you need here */
